/* Ioana A Mititean */
/* 24.1 Exercise: WTForms */
/* Pet Adoption Agency */

/* App stylesheet. */

.pet-home-img {
    width: 75%;
    height: auto;
}

.pet-info-img {
    width: 35%;
    height: auto;
}