{# Ioana A Mititean #}
{# 24.1 Exercise: WTForms #}
{# Pet Adoption Agency #}

{# Homepage template. #}

{# TODO: Make each pet entry on homepage into a sort of card (looks a bit rough as is right now) #}

{% extends "base.jinja2" %}

{% block content %}

    <h1 class="display-1">Pets</h1>

    <div class="row">
        {% for pet in pets %}
            <div class="col-4">
                <h2>
                    <a href="/{{ pet.id }}">{{ pet.name }}</a>
                    {% if pet.is_available %}
                        <b>is available!</b>
                    {% else %}
                    {% endif %}
                </h2>

                <div>
                    <img class="pet-home-img" src="{{ pet.photo_url }}" alt="{{ pet.name }}">
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
