{# Ioana A Mititean #}
{# 24.1 Exercise: WTForms #}
{# Pet Adoption Agency #}

{# Homepage template. #}

{% extends "base.jinja2" %}

{% block content %}

    <h1>Pets</h1>

    {% for pet in pets %}
        <h2>{{ pet.name }}</h2>

        <div>
            <img class="pet-img" src="{{ pet.photo_url }}" alt="{{ pet.name }}">
        </div>
        <div>
            {% if pet.available %}
                <b>{{ pet.name }} is available!</b>
            {% else %}
            {% endif %}
        </div>
    {% endfor %}

{% endblock content %}
