{# Ioana A Mititean #}
{# 24.1 Exercise: WTForms #}
{# Pet Adoption Agency #}

{# Homepage template. #}

{% extends "base.jinja2" %}

{% block content %}

    <h1 class="display-1">Pets</h1>

    <div class="row">
        {% for pet in pets %}
            <div class="card-group col-4">
                <div class="card border-primary mb-3">
                    <img class="pet-home-img" src="{{ pet.photo_url }}" alt="{{ pet.name }}">
                    <div class="card-body">
                        <h4 class="card-title">
                            <b>
                                {{ pet.name }}
                                {% if pet.is_available %}
                                    is available!
                                {% else %}
                                {% endif %}
                            </b>
                        </h4>

                        {% if pet.notes %}
                            <p class="card-text">{{ pet.notes }}</p>
                        {% else %}
                        {% endif %}

                        <a href="/{{ pet.id }}" class="btn btn-primary">View pet info</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
