{# Ioana A Mititean #}
{# 24.1 Exercise: WTForms #}
{# Pet Adoption Agency #}

{# Template for displaying and editing a pet. #}

{% extends "base.jinja2" %}

{% block content %}

    <h1>{{ pet.name }}</h1>

    <h3>Edit Pet</h3>
    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form
           if field.widget.input_type != "hidden" %}

            {% if field.type == "RadioField" %}
                <div>{{ field.label }}</div>
                <div>
                    {% for subfield in field %}
                        <span>
                            {{ subfield }}
                            {{ subfield.label }}
                        </span>
                    {% endfor %}
                </div>

            {% else %}
                <div>
                    <div>{{ field.label }}</div>
                    <div>{{ field }}</div>
                </div>
            {% endif %}

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}

        {% endfor %}

        <button type="submit">Update</button>
    </form>

{% endblock content %}

