{# Ioana A Mititean #}
{# 24.1 Exercise: WTForms #}
{# Pet Adoption Agency #}

{# Template for displaying and editing a pet. #}

{% extends "base.jinja2" %}

{% block content %}

    <h1 class="display-3">{{ pet.name }}</h1>

    {% for msg in get_flashed_messages() %}
        <div>{{ msg }}</div>
    {% endfor %}

    <section>
        <div>
            <img class="pet-info-img" src="{{ pet.photo_url }}" alt="{{ pet.name }}">
        </div>
        <div>Species: {{ pet.species }}</div>

        {% if pet.age is not none %}
            <div>Age (years): {{ pet.age }}</div>
        {% else %}
            <div>No age submitted</div>
        {% endif %}

    </section>

    <section class="mt-3">
        <h3 class="display-6">Edit Pet</h3>
        <form method="POST">
            {{ form.hidden_tag() }}

            {% for field in form
               if field.widget.input_type != "hidden" %}

                <div class="form-group">
                    <b>{{ field.label(class="mt-2") }}</b>
                    {% if field.type == "RadioField" %}
                        <fieldset class="form-group">
                            {% for subfield in field %}
                                <div class="form-check">
                                    {{ subfield(class="form-check-input") }}
                                    {{ subfield.label(class="form-check-label") }}
                                </div>
                            {% endfor %}
                        </fieldset>
                    {% else %}
                        <div>
                            <div>{{ field(class="form-control") }}</div>
                        </div>
                    {% endif %}
                </div>

                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}

            {% endfor %}

            <button type="submit" class="btn btn-success mt-3">Update</button>
        </form>
    </section>

{% endblock content %}

