{# Ioana A Mititean #}
{# 24.1 Exercise: WTForms #}
{# Pet Adoption Agency #}

{# Adding new pet template. #}

{% extends "base.jinja2" %}

{% block content %}

    <h1>Add New Pet</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form
           if field.widget.input_type != "hidden" %}

            <div>
                {{ field.label }}
                <div>{{ field }}</div>
            </div>

            {% for error in field.errors %}
                {{ error }}
            {% endfor %}

        {% endfor %}

        <button type="submit" class="btn btn-success">Add</button>
    </form>

{% endblock content %}
