{# Ioana A Mititean #}
{# 24.1 Exercise: WTForms #}
{# Pet Adoption Agency #}

{# Adding new pet template. #}

{% extends "base.jinja2" %}

{% block content %}

    <h1 class="display-3">Add New Pet</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        <fieldset>
            {% for field in form
            if field.widget.input_type != "hidden" %}

                <div class="form-group">
                    <b>{{ field.label(class="mt-2") }}</b>
                    {% if field.type == "TextAreaField" %}
                        <div>{{ field(class="form-control", rows="3") }}</div>
                    {% else %}
                        <div>{{ field(class="form-control") }}</div>
                    {% endif %}
                </div>

                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}

            {% endfor %}
        </fieldset>

        <button type="submit" class="btn btn-success mt-3">Add</button>

        <div class="form-group">
            <label for="exampleSelect1">Example select</label>
            <select class="form-select" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </form>

{% endblock content %}
